name: "DNS Tunnel Scenario"
description: |
  "This Scenario runs through multiple "
provisioner: vagrant
use_default_template: yes
components:
  - name: dns_server
    image: ubuntu/focal64
    image_version: latest
    setup: {{ dns_server.setup }}
    run: {{ dns_server.run }}
    artifacts_to_collect: {{ dns_server.artifacts_to_collect }}

  - name: dns_attack_server
    image: ubuntu/focal64
    image_version: latest
    setup: {{ dns_tunnel.attack_server.setup }}
    run: {{ dns_tunnel.attack_server.run }}
    artifacts_to_collect: {{ dns_tunnel.attack_server.artifacts_to_collect }}

  - name: dns_attack_client
    image: ubuntu/focal64
    image_version: latest
    setup: {{ dns_tunnel.dns_attack_client.setup }}
    run: {{ dns_tunnel.dns_attack_client.run }}
    variables: {{ dns_tunnel.dns_attack_client.variables }}
    artifacts_to_collect: {{ dns_tunnel.dns_attack_client.artifacts_to_collect }}
    depends_on:
      - dns_attack_server
      - dns_server