[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-vagrant = "*"
docker = "*"
pyyaml = "*"
jinja2 = "*"
click = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
bpython = "*"

[requires]
python_version = "3.8"
