---

- name: Provision hosts with filebeat capabilities
  hosts: all
  become: yes
  tasks:

    - name: Install all galaxy roles
      shell: ansible-galaxy install elastic.beats,v7.17.0 --roles-path="/etc/ansible/roles"

    {% for artifact in artifacts_to_collect -%}
    {% if artifact['type'] == 'filebeat' %}
    # https://www.elastic.co/guide/en/beats/filebeat/8.0/file-output.html
    - name: Installing filebeat for collection
      include_role: 
        name: elastic.beats
      vars:
        beat: "filebeat"
        beat_conf:
          filebeat.inputs:
            {%- for file in artifact['val'] %}
            - type: filestream
              enabled: true
              paths:
                - "{{ file }}"
              fields:
                filename: "{{ file.split('/')[-1] }}"
            {% endfor %}
        output_conf:
          file:
            path: "/tmp"
            filename: "filebeat.json"
        logging_conf:
          files:
            # Too small rotation can cause data-loss
            rotateeverybytes: 209715200
        use_repository: "true"
    {% elif artifact['type'] == 'elastic' %}
    # https://www.elastic.co/guide/en/beats/filebeat/8.0/elasticsearch-output.html
    - name: Installing filebeat for collection
      include_role: 
        name: elastic.beats
      vars:
        beat: "filebeat"
        beat_conf:
          # Enable the following 4 items if a custom index will be used
          #setup.template.enabled: true
          #setup.template.name: "daca"
          #setup.template.pattern: "daca-*"
          #setup.ilm.enabled: false
          filebeat.inputs:
            {%- for artifact_nested in artifacts_to_collect -%}
            {%- if artifact_nested['type'] == 'files' %}
            {%- for file in artifact_nested['val'] -%}
            {%- if not '.cast' in file and not '.pcap' in file %}
            - type: filestream
              enabled: true
              paths:
                - "{{ file }}"
              fields:
                filename: "{{ file.split('/')[-1] }}"
            {% endif -%}
            {% endfor -%}
            {% endif -%}
            {% endfor %}
        output_conf:
          elasticsearch:
            hosts: {{ artifact['val'] }}
            protocol: "http"
            #index: "%{[fields.filename]}-%{+yyyy.MM.dd}"
            # Authentication credentials - either API key or username/password.
            #api_key: "id:api_key"
            #username: "elastic"
            #password: "changeme"

    {% elif artifact['type'] == 'kafka' %}
    # https://www.elastic.co/guide/en/beats/filebeat/8.0/kafka-output.html
    - name: Installing filebeat for collection
      include_role: 
        name: elastic.beats
      vars:
        beat: "filebeat"
        beat_conf:
          filebeat.inputs:
            {%- for artifact_nested in artifacts_to_collect -%}
            {%- if artifact_nested['type'] == 'files' %}
            {%- for file in artifact_nested['val'] -%}
            {%- if not '.cast' in file and not '.pcap' in file %}
            - type: filestream
              enabled: true
              paths:
                - "{{ file }}"
              fields:
                filename: "{{ file.split('/')[-1] }}"
            {% endif -%}
            {% endfor -%}
            {% endif -%}
            {% endfor %}
        output_conf:
          kafka:
            # initial brokers for reading cluster metadata
            hosts: {{ artifact['val'] }}
            # message topic selection + partitioning
            topic: '%{[fields.filename]}'
            #partition.round_robin:
            #  reachable_only: false
            #required_acks: 1
            #compression: gzip
            #max_message_bytes: 1000000
    {% endif  %}
    {%- endfor %}