# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure({{ vagrant_version|default('"2"') }}) do |config|

{%- if collection_vms %}
{%- for collection_vm in collection_vms %}
{ collection_vm }
{% endfor %}
{% endif %}

{% if scenario_vms %}
{% for vm in scenario_vms %}
{{ vm }}
{%- endfor -%}
{%- endif -%}
end